@keyframes moveTopBottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}

.moving-btn {
  animation: moveTopBottom 0.5s ease-in-out infinite alternate;
}
